@keyframes move-down {
	100%  {
		transform: translateY(0);
	}
}


@keyframes head-slider-in {
	0% {
		opacity: .5;
		transform: scale(2, 2) rotate(-12deg);
	}

	100% {
		opacity: 1;
		transform: scale(1, 1) rotate(0);
	}
}

@keyframes head-slider-in-reverse {
	0% {
		transform: scale(2, 2) rotate(12deg);
	}

	100% {
		transform: scale(1, 1) rotate(0);
	}
}

@keyframes head-slider-out {
	0% {
		transform: scale(1, 1) rotate(0);
	}

	100% {
		transform: scale(2, 2) rotate(-12deg);
	}
}

@keyframes head-slider-out-reverse {
	0% {
		transform: scale(1, 1) rotate(0);
	}

	100% {
		transform: scale(2, 2) rotate(12deg);
	}
}

@keyframes side-slide-in {
	0% {
		transform: translateX(-200%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes side-slide-in-reverse {
	0% {
		transform: translateX(200%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes side-slide-out {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-200%);
	}
}

@keyframes side-slide-out-reverse {
	0% {
		transform: translateX(0);		
	}

	100% {
		transform: translateX(200%);
	}
}

@keyframes appearing {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}