// Colors
$white: #fff !default;
$black: #202124;
$grey: #5f6368;
$black-alt: #212121;

// Gradient 1
$deep-purple: #673ab7;
$deeper-purple: #512da8;
// Gradient 2
$violet: #ad5389;
$more-deeper-purple: #3c1053;
// Gradient 3
$soft-violet: #8e2de2;
$indigo: #4a00e0;

$body-color: $white;
$link-color: $black-alt;
$text-color: $grey;

// Breakpoints
$bp-gap: 64px;
$mobile-small-bp: 240px;
$mobile-bp: 360px;
$mobile-large-bp: 576px;
$tablet-bp: 769px;
$tablet-large-bp: 960px;
$desktop-bp: $tablet-large-bp + (2 * $bp-gap);
$desktop-large-bp: 1088px + $bp-gap;
$widescreen-bp: $desktop-large-bp + (2 * $bp-gap);
$widescreen-enabled: true;

$screen-breakpoints: () !default;

$screen-breakpoints: map-merge((
	"mobile-small": $mobile-small-bp,
	"mobile": $mobile-bp,
	"mobile-large": $mobile-large-bp,
	"tablet": $tablet-bp,
	"tablet-large": $tablet-large-bp,
	"desktop": $desktop-bp,
	"desktop-large": $desktop-large-bp,
	"widescreen": $widescreen-bp
), $screen-breakpoints);

// Navigation
$nav-height: 80px;
$nav-scrolled-height: 70px;
$nav-tablet-height: 70px;
$nav-tablet-scrolled-height: 65px;
$nav-mobile-height: 65px;
$nav-mobile-scrolled-height: 60px;

// Animation
$animation-time-method: cubic-bezier(0.86, 0, 0.07, 1);
$animation-duration: .4s;
$animation-method: $animation-duration $animation-time-method;