.l-header {
	width: 100%;
	height: 100%;
	background-color: transparent;
	color: inherit;
	display: flex;
	align-items: center;
	justify-self: center;
	align-self: center;
	animation: none;
	font-family: "Nunito", "OpenSans", Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1rem;

	@include media-query("screen", "onWidescreen") {
		max-width: map-get($screen-breakpoints, "widescreen");
	}

	// Wrapper 
	&--wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99;
		height: $nav-height;
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform .2s linear;

		@include media-query("screen", "onTablet") {
			height: $nav-tablet-height;
		}
	
		@include media-query("screen", "onMobile") {
			height: $nav-mobile-height;
		}
		
		&__sticky {
			position: fixed;
			top: 0;
			left: 0;
			transform: translateY(-50%);
			width: 100%;
			height: 60px;
			box-shadow: 0 2px 7px $black-alt;
			background-color: $white;
			opacity: 1;
			animation: move-down 0.4s forwards;
			color: $more-deeper-purple !important;
			height: $nav-scrolled-height;

			.main-nav .nav-menu > li > a {
				&.active-link {
					&::after {
						background: $deep-purple !important;
					}
				}
	
				&:hover::after {
					background: $deep-purple !important;
				}
			}

			.main-logo--container {
				padding: 23px 0 !important;
			}

			.search-button {
				box-shadow: 0 1px 3px $deep-purple;
			}

			.search-form--wrapper {
				top: $nav-scrolled-height !important;
			}
		}		
	}

	// Parts
	.main-logo {
		transition: 0s;
		height: 100%;
		padding: 0 45px 0 65px;
		flex: 0 0 25%;
		position: relative;
		align-self: stretch;
		display: flex;
		align-items: center;

		@include media-query("screen", "onTablet") {
			flex: 1 0 80%;
			padding: 0 0 0 10px;
		}

		&--container {
			height: 100%;
			display: block;
			padding: 28px 0;

			@include media-query("screen", "onTablet") {
				padding: 20px 0;
				height: 100%;
			}
		}

		&--image {
			display: block;
			margin: 0 auto;
			height: 100%;

			&__normal {
				display: block;
			}

			&__sticky {
				display: none;
			}

			&__mobile {
				display: none;
			}
		}
	}

	.main-nav {
		flex: 1 0 60%;
		padding: 0 20px 0 30px;
		color: inherit;

		@include media-query("screen", "onTablet") {
			display: none;
		}

		.nav-section {
			display: block;
		}

		.nav-menu {
			display: flex;
			align-items: center;
			height: 100%;

			> li {
				flex: auto;
				height: $nav-height;
				padding: 0 15px;
				display: flex;
				align-items: center;
				justify-content: flex-start;

				&.dropdown-menu--wrapper {
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;

					&:hover .dropdown-menu, &:focus .dropdown-menu, &:focus-within .dropdown-menu {
						visibility: visible;
						opacity: 1;
						z-index: 150;
						transform: scaleY(1);
						transition-delay: 0s, 0s, .3s;
					}
				}

				> a {
					position: relative;
					height: $nav-height - 20px;
					display: flex;
					flex-flow: column nowrap;
					align-items: center;
					justify-content: center;
					align-content: center;
					text-align: center;
					transition: all .4s ease;
					color: inherit;

					&::after, &:hover::after {
						align-self: flex-start;
						position: absolute;
						left: 0;
						bottom: 10px;
						content: '';
						margin-left: 1px;
						height: 2px;
						background: none;
						opacity: .6;
						border-radius: 12px;
						width: 0;
						transition: all .4s ease-in-out;
					}

					&:hover::after {
						width: 68%;
						background: $white;
					}

					&.active-link {
						&::after {
							width: 78%;
							background: $white;
						}
					}			
				}
			}

			.dropdown-menu {
				position: absolute;
				top: calc(100% - 2px);
				width: 200px;
				background: white;
				border-radius: 2px;
				margin-left: 1px;
				padding: 15px 0;
				display: flex;
				flex-flow: column nowrap;
				box-shadow: 0 2px 3px $grey;
				// transform: translateY(-15px);
				transform: scaleY(0);
				transform-origin: 0 0 0;
				visibility: hidden;
				z-index: -10;
				transition: all .4s ease-in-out, visibility 0s linear .4s, z-index 0s linear 0.01s;

				li {
					padding: 0;
					height: 40px;
					line-height: 40px;
					position: relative;
					vertical-align: top;

					&:last-child > a {
						border-bottom: none;
					}

					&.dropdown-submenu--wrapper {
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;

						&:hover .dropdown-submenu, &:focus .dropdown-submenu, &:focus-within .dropdown-menu {
							visibility: visible;
							opacity: 1;
							z-index: 160;
							transform: scaleY(1);
							transition-delay: 0s, 0s, .3s;
						}

						> a {
							&::after {
								position: absolute;
								right: 24px;
								top: 15px;
								content: '';
								background-image: url('../images/next.png');
								background-size: 100% 100%;
								width: 10px;
								height: 10px;
							}
						}
					}
				}

				li a {
					color: $more-deeper-purple;
					display: block;
					margin: 0 25px 0 18px;
					font-size: .9rem;
					height: 100%;
					border-bottom: 1px solid $deep-purple;
					transition: all .1s linear;

					&:hover {
						padding-left: 5px;
						color: $violet;
					}
				}

				.dropdown-submenu {
					position: absolute;
					top: 0;
					left: 98%;
					width: 200px;
					background: white;
					border-radius: 2px;
					margin-left: 1px;
					padding: 15px 0;
					display: flex;
					flex-flow: column nowrap;
					box-shadow: 0 2px 3px $grey;
					transform: scaleY(0);
					transform-origin: 0 0 0;
					visibility: hidden;
					z-index: -10;
					transition: all .4s ease-in-out, visibility 0s linear .4s, z-index 0s linear 0.01s;
				}
			}
		}
	}

	.mobile-actions {
		display: none;
		margin-left: auto;
	}

	.search-area {
		flex: 1 0 14%;
		padding-right: 65px;

		@include media-query("screen", "onTablet") {
			display: none;
		}

		&--container {
			box-sizing: border-box;
			height: 32px;
			width: 100%;
			border-radius: 11124px;
		}

		.search-button {
			position: relative;
			display: flex;
			align-items: center;
			width: 58px;
			height: 100%;
			background-color: $white;
			border-radius: 11124px;
			cursor: pointer;
			transition: width .1s linear;

			&:hover {
				width: 63px;
			}

			.search-icon {
				width: 16px;
				height: 16px;
				display: block;
				margin: 0 auto;
			}
		}

		.search-form {
			width: 100%;
			height: 100%;
			padding: 10px 65px;

			@include media-query("screen", "onWidescreen") {
				max-width: map-get($screen-breakpoints, "widescreen");
			}

			&--wrapper {
				width: 100%;
				top: $nav-height;
				right: -100%;
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				background: $white;
				height: 63px;
				opacity: .91;
				visibility: hidden;
				transition: all .4s ease-in-out, visibility 0s linear .4s;

				&.active {
					right: 0;
					visibility: visible;
					transition-delay: 0s, .2s;
				}
			}

			&--input {
				width: 100%;
				height: 100%;
				border-radius: 1124px;
				background-color: $grey;
				padding: 1px;
				display: flex;
				
				&:focus, &:focus-within {
					background: linear-gradient(to right, $violet, $indigo);
				}
			}

			input[type="search"] {
				border: 0;
				background: #fff;
				opacity: 1;
				min-width: 0;
				flex: 1;
				color: $more-deeper-purple;
				border-radius: 1124px;
				padding: .75rem 2.5rem .75rem 1.5rem;
				font-size: 1rem;
			}
		}
	}
}