.l-header {
	width: 100%;
	height: 100%;
	background-color: transparent;
	color: inherit;
	display: flex;
	align-items: center;
	justify-self: center;
	align-self: center;
	animation: initial;
	font-family: "Nunito", "OpenSans", Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1rem;

	@include media-query("screen", "onWidescreen") {
		max-width: map-get($screen-breakpoints, "widescreen");
	}

	// Wrapper 
	&_wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 99;
		height: $nav-height;
		color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform .2s linear;

		* {
			z-index: inherit;
		}

		@include media-query("screen", "onLargeTablet") {
			height: $nav-tablet-height;
			color: $more-deeper-purple;
		}
	
		@include media-query("screen", "onLargeMobile") {
			height: $nav-mobile-height;
		}
		
		&.sticky {
			position: fixed;
			top: 0;
			left: 0;
			transform: translateY(-50%);
			width: 100%;
			height: 60px;
			box-shadow: 0 2px 7px $black-alt;
			background-color: $white;
			opacity: 1;
			animation: move-down 0.4s forwards;
			color: $more-deeper-purple !important;
			height: $nav-scrolled-height;

			@include media-query("screen", "onLargeTablet") {
				height: $nav-tablet-scrolled-height;
			}
		
			@include media-query("screen", "onLargeMobile") {
				height: $nav-mobile-scrolled-height;
			}

			.main-nav .nav-menu > li > a {
				&.active-link {
					&::after {
						background: $deep-purple !important;
					}
				}
	
				&:hover::after {
					background: $deep-purple !important;
				}
			}

			.main-logo_container {
				padding: 23px 0 !important;

				@include media-query("screen", "onLargeTablet") {
					padding: 21.5px 0 !important;
				}

				@include media-query("screen", "onLargeMobile") {
					padding: 20px 0 !important;
				}
			}

			.mobile-search-button, .search-button {
				box-shadow: 0 1px 3px $deep-purple;
			}

			.search-form_wrapper {
				top: $nav-scrolled-height !important;

				@include media-query("screen", "onLargeTablet") {
					top: $nav-tablet-scrolled-height !important;
				}

				@include media-query("screen", "onLargeMobile") {
					top: $nav-mobile-scrolled-height !important;
				}
			}

			.mobile-nav-button {
				&::before {
					background-color: $deeper-purple !important;
				}

				&::after {
					background-color: $deeper-purple !important;
				}
			}
		}		
	}

	// Parts
	.main-logo {
		transition: 0s;
		height: 100%;
		padding: 0 45px 0 65px;
		flex: 0 0 25%;
		position: relative;
		align-self: stretch;
		display: flex;
		align-items: center;

		@include media-query("screen", "onLargeTablet") {
			flex: 1 0 80%;
			padding: 0 10px 0 20px;
		}

		@include media-query("screen", "onLargeMobile") {
			flex: 1 0 60%;
		}

		&_container {
			height: 100%;
			display: block;
			padding: 28px 0;

			@include media-query("screen", "onLargeTablet") {
				padding: 24px 0;
			}

			@include media-query("screen", "onLargeMobile") {
				padding: 22px 0;
			}
		}

		&_image {
			display: block;
			margin: 0 auto;
			height: 100%;

			&.normal {
				display: block;
			}

			&.sticky {
				display: none;
			}
		}
	}

	.main-nav {
		flex: 0 0 60%;
		padding: 0 20px 0 30px;
		color: inherit;

		.blurry-svg {
			display: block;
			height: 0;
		}

		@include media-query("screen", "onLargeTablet") {
			transform: scaleY(0);
			transform-origin: 0 0 0;
			visibility: hidden;
			position: fixed;
			z-index: -10;
			top: 0;
			flex: 0;
			width: 100%;
			padding: $nav-tablet-scrolled-height 30px 0 40px;
			background: $white;
			opacity: .85;
			height: 95vh;
			transition: all $animation-method, visibility 0s $animation-time-method .4s, z-index 0s $animation-time-method .1s;

			&.is-mobile-menu-open {
				z-index: 80;
				visibility: visible;
				transform: scaleY(1);
				transition-delay: 0s, 0s, .3s;
			}

			&::after {
				content: '';
				position: fixed;
				top: 95vh;
				left: 0;
				width: 100%;
				height: 5vh;
				background: $violet;
				opacity: .85;
				z-index: 80;
			}
		}

		@include media-query("screen", "onLargeMobile") {
			padding: $nav-tablet-scrolled-height 20px 0 25px;
		}

		.nav-section {
			display: block;
		}

		.nav-menu {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			height: 100%;

			@include media-query("screen", "onLargeTablet") {
				flex-flow: column nowrap;
				align-items: flex-end;
				font-size: 1.1rem;
				margin: 18px 0 15px;
				max-height: 75vh;
				overflow-y: auto;
				overflow-x: hidden;
			}

			@include media-query("screen", "onLargeMobile") {
				font-size: 1rem;
			}

			@include media-query("screen", "onLargeMobile") {
				font-size: .97rem;
			}

			> li {
				flex: auto;
				height: $nav-height;
				padding: 0 15px;
				display: flex;
				align-items: center;
				justify-content: flex-start;

				@include media-query("screen", "onLargeTablet") {
					height: 60px;
					padding: 10px 0;
					width: 100%;
					justify-content: flex-end;
				}

				&.dropdown-menu_wrapper {
					flex-direction: column;
					align-items: flex-start;
					justify-content: center;

					@include media-query("screen", "onLargeTablet") {
						position: relative;
						height: auto;
						padding: 10px 0;
						width: 100%;
						align-items: flex-end;
					}

					@include media-query("screen", "onlyDesktop") {
						&:hover .dropdown-menu, &:focus .dropdown-menu, &:focus-within .dropdown-menu {
							visibility: visible;
							opacity: 1;
							z-index: 150;
							transform: scaleY(1);
							transition-delay: 0s, 0s, .3s;
						}
					}
				}

				> a {
					position: relative;
					height: $nav-height - 20px;
					display: flex;
					flex-flow: column nowrap;
					align-items: center;
					justify-content: center;
					align-content: center;
					text-align: center;
					transition: all .4s $animation-time-method;
					color: inherit;

					@include media-query("screen", "onLargeTablet") {
						flex-flow: row nowrap;
						height: auto;
					}

					&::after, &:hover::after {
						align-self: flex-start;
						position: absolute;
						left: 0;
						bottom: 10px;
						content: '';
						margin-left: 1px;
						height: 2px;
						background: initial;
						opacity: .6;
						border-radius: 12px;
						width: 0;
						transition: all .6s $animation-time-method;
						
						@include media-query("screen", "onLargeTablet") {
							transform: translateX(-120%);
							margin-right: 3px;
						}

						@include media-query("screen", "onLargeMobile") {
							bottom: 8px;
						}
					}

					&:hover::after {
						width: 68%;
						background: $white;

						@include media-query("screen", "onLargeTablet") {
							width: 30px;
						}
					}

					&.active-link {
						&::after {
							width: 78%;
							background: $white;

							@include media-query("screen", "onLargeTablet") {
								width: 38px;
							}
						}
					}			
				}
			}

			.dropdown-menu {
				position: absolute;
				top: calc(100% - 2px);
				width: 200px;
				background: white;
				border-radius: 2px;
				margin-left: 1px;
				padding: 15px 0;
				display: flex;
				flex-flow: column nowrap;
				box-shadow: 0 2px 3px $grey;
				transform: scaleY(0);
				transform-origin: 0 0 0;
				visibility: hidden;
				z-index: -10;
				transition: all $animation-method, visibility 0s $animation-time-method .4s, z-index 0s $animation-time-method 0.01s;

				@include media-query("screen", "onLargeTablet") {
					top: 0;
					left: 120%;
					margin-top: 15px;
					width: 100%;
					padding: 5px 0;
					border-top: 1px solid $more-deeper-purple;
					box-shadow: initial;
					opacity: .9;

					&.active {
						position: static;
						visibility: visible;
						opacity: 1;
						z-index: 150;
						transform: scaleY(1);
						transition-delay: 0s, 0s, .3s;
					}
				}

				li {
					padding: 0;
					height: 40px;
					line-height: 40px;
					position: relative;
					vertical-align: top;

					@include media-query("screen", "onLargeTablet") {
						display: flex;
						justify-content: flex-end;
						padding-right: 25px;
					}

					@include media-query("screen", "onLargeMobile") {
						display: flex;
						justify-content: flex-end;
						padding-right: 15px;
					}

					&:last-child > a {
						border-bottom: initial;
					}

					&.dropdown-submenu_wrapper {
						flex-direction: column;
						align-items: flex-start;
						justify-content: center;

						@include media-query("screen", "onlyDesktop") {
							&:hover .dropdown-submenu, &:focus .dropdown-submenu, &:focus-within .dropdown-menu {
								visibility: visible;
								opacity: 1;
								z-index: 160;
								transform: scaleY(1);
								transition-delay: 0s, 0s, .3s;
							}
						}

						@include media-query("screen", "onLargeTablet") {
							height: auto;
							width: 100%;
							align-items: flex-end;
							position: relative;
						}

						> a {
							&::after {
								position: absolute;
								right: 24px;
								top: 15px;
								content: '';
								background-image: url('../images/next.png');
								background-size: 100% 100%;
								width: 10px;
								height: 10px;

								@include media-query("screen", "onLargeTablet") {
									transform: rotate(180deg);
									right: initial;
									left: 5px;
									transition: all $animation-method;
								}
							}							
						}

						@include media-query("screen", "onLargeTablet") {
							&.active {
								> a::after {
									transform: rotate(90deg);
								}
							}
						}
					}
				}

				li a {
					color: $more-deeper-purple;
					display: block;
					margin: 0 25px 0 18px;
					font-size: .9rem;
					height: 100%;
					border-bottom: 1px solid $deep-purple;
					transition: all .1s linear;

					@include media-query("screen", "onLargeTablet") {
						margin: 0;
						border-bottom: initial;
						font-size: 1.07rem;
						font-weight: 400;
					}

					@include media-query("screen", "onLargeMobile") {
						font-size: .94rem;
					}

					@include media-query("screen", "onlyDesktop") {
						&:hover {
							padding-left: 5px;
							color: $violet;
						}
					}
				}

				.dropdown-submenu {
					position: absolute;
					top: 0;
					left: 98%;
					width: 200px;
					background: white;
					border-radius: 2px;
					margin-left: 1px;
					padding: 15px 0;
					display: flex;
					flex-flow: column nowrap;
					box-shadow: 0 2px 3px $grey;
					transform: scaleY(0);
					transform-origin: 0 0 0;
					visibility: hidden;
					z-index: -10;
					transition: all $animation-method, visibility 0s $animation-time-method .4s, z-index 0s $animation-time-method 0.01s;

					@include media-query("screen", "onLargeTablet") {
						top: 0;
						left: 120%;
						margin-top: 5px;
						padding: 5px 0;
						width: 100%;
						padding: 0;
						border-top: 1px solid $more-deeper-purple;
						box-shadow: initial;
						opacity: .9;
	
						&.active {
							z-index: 160;
							position: static;
							transform: scaleY(1);
							visibility: visible;
							transition-delay: 0s, 0s, .3s;
						}
					}
				}
			}
		}
	}

	.mobile-actions {
		margin-left: auto;
		height: 100%;
		padding: 0 20px 0 0;
		display: none;

		.mobile-search-button {
			position: relative;
			border-radius: 1142px;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 28px;
			width: 47px;
			background: $white;
			border-radius: 1142px;
			cursor: pointer;

			.mobile-search-icon {
				display: block;
				width: 15px;
				height: 15px;
				margin: 0 auto;
			}
		}

		.mobile-nav-button {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 3px;
			cursor: pointer;

			&.active {
				&::before {
					transform: rotate(45deg) translateY(5px);
				}

				&::after {
					transform: rotate(-45deg) translateY(-5px);
				}
			}

			&::before {
				display: block;
				content: '';
				background-color: $white;
				height: 2px;
				border-radius: 10px;
				transition: all $animation-method;
			}

			&::after {
				display: block;
				content: '';
				margin-top: 5px;
				background-color: $white;
				height: 2px;
				border-radius: 10px;
				transition: all $animation-method;
			}
		}

		@include media-query ("screen", "onLargeTablet") {
			flex: 1 0 20%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-flow: row nowrap;

			.mobile-nav-button {
				&.active {
					&::after {
						width: 37px;
					}
				}

				&::before {
					width: 37px;
				}

				&::after {
					width: 27px;
				}
			}


		}

		@include media-query ("screen", "onLargeMobile") {
			flex: 1 0 30%;

			.mobile-nav-button {
				&.active {
					&::after {
						width: 30px;
					}
				}

				&::before {
					width: 30px;
				}

				&::after {
					width: 20px;
				}
			}
		}

		@include media-query ("screen", "onMobile") {
			.mobile-search-button {
				height: 23px;
				width: 38px;

				.mobile-search-icon {
					height: 12px;
					width: 12px;
				}
			}

			.mobile-nav-button {

				&.active {
					&::after {
						width: 25px;
					}
				}

				&::before {
					width: 25px;
				}

				&::after {
					width: 15px;
				}
			}
		}
	}

	.search-area {
		flex: 0 0 14%;
		padding-right: 65px;

		@include media-query("screen", "onLargeTablet") {
			visibility: hidden;
			flex: 0 0 0;
			padding: 0;
		}

		&_container {
			box-sizing: border-box;
			height: 32px;
			width: 100%;
			
			@include media-query("screen", "onLargeTablet") {
				visibility: hidden;
				width: 0;
			}
		}

		.search-button {
			position: relative;
			display: flex;
			align-items: center;
			width: 58px;
			height: 100%;
			background-color: $white;
			border-radius: 11124px;
			cursor: pointer;
			transition: width .1s $animation-time-method;

			&:hover {
				width: 63px;
			}

			.search-icon {
				width: 16px;
				height: 16px;
				display: block;
				margin: 0 auto;
			}
		}

		.search-form {
			width: 100%;
			height: 100%;
			padding: 10px 65px;
			z-index: 120;

			@include media-query("screen", "onWidescreen") {
				max-width: map-get($screen-breakpoints, "widescreen");
			}

			@include media-query("screen", "onLargeTablet") {
				padding: 10px 20px;
			}

			&_wrapper {
				width: 100%;
				top: $nav-height;
				right: -100%;
				position: absolute;
				display: flex;
				justify-content: center;
				align-items: center;
				background: $white;
				height: 63px;
				opacity: .91;
				visibility: hidden;
				transition: all .4s $animation-time-method, visibility 0s $animation-time-method .4s;

				@include media-query("screen", "onLargeMobile") {
					top: $nav-mobile-height;
				}

				&.active {
					right: 0;
					visibility: visible;
					transition-delay: 0s, .2s;
				}
			}

			&_input {
				width: 100%;
				height: 100%;
				border-radius: 1124px;
				background-color: $grey;
				padding: 1px;
				display: flex;
				
				&:focus, &:focus-within {
					background: linear-gradient(to right, $violet, $indigo);
				}
			}

			input[type="search"] {
				border: 0;
				background: #fff;
				opacity: 1;
				min-width: 0;
				flex: 1;
				color: $more-deeper-purple;
				border-radius: 1124px;
				padding: .75rem 2.5rem .75rem 1.5rem;
				font-size: 1rem;
			}
		}
	}
}