@import 'minireset';

html {
	padding: 0;
	scroll-behavior: smooth;

	* {
		box-sizing: border-box;
	}
}

body {
	overflow-x: hidden;
	font-family: "OpenSans", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 1.2;
	background: $body-color;
	padding: 0;
	color: $text-color;

	&.is-mobile-menu-open {
		position: fixed;
		overflow-x: hidden;
		height: 100%;
		width: 100%;
		z-index: 0;
	}
}

::selection {
	background: $soft-violet;
	color: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Nunito", "Helvetica Neue", Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: $link-color;
}

input, textarea {
	outline: none;
}

.screen-reader-text, .screen-reader-text {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}