@import 'minireset';

html {
	overflow-x: hidden;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	font-family: "OpenSans", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 1.2;
	background: $body-color;
	padding: 0;
	color: $text-color;

	&.is-mobile-menu-open {
		position: fixed;
		overflow: hidden;
		height: auto;
		width: 100%;
		z-index: 0;
	}
}

a {
	text-decoration: none;
	color: $link-color;
}

::selection {
	background: $soft-violet;
	color: $white;
}

input, textarea {
	outline: none;
}

.screen-reader-text, .screen-reader-text {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}

.l-main-content {
	height: 150vh;
	background: linear-gradient(to left, $violet, $more-deeper-purple);
}