@import 'minireset';

html {
	overflow-x: hidden;
	padding: 0;
}

body {
	overflow-x: hidden;
	font-family: "OpenSans", "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 0;
	line-height: 1.2;
	background: $background-color;
	padding: 0;
}