.m-head-slider {
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
	transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);

	&::after {
		content: '';
	}

	.head-slide {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		height: 100%;
		width: 100%;
		opacity: 1 !important;
		text-align: center;
		padding-top: $nav-height;
		transition: all .4s cubic-bezier(0.86, 0, 0.07, 1);

		&_background {
			transform: scale(1) rotate(0deg);
			opacity: 1;
			transition-duration: 1.2s;
			transition-delay: .45s;
			transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
			backface-visibility: hidden;

			&_wrapper {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				transform: translate3d(0px, 0px, 0px);
				overflow: hidden;
				backface-visibility: hidden;
				padding-top: 9rem;
			}

			&_container {
				opacity: 1;
				transition-delay: 0;
				position: relative;
				text-align: left;

				&.-overflow {
					overflow: hidden;
				}

				@include media-query("screen", "onlyDesktop") {
					height: calc(100% - 9rem);
				}
			}

			&.-small {
				top: -9rem !important;
				right: -9rem !important;
				bottom: -9rem !important;
				left: -9rem !important;
				transform: scale(1) rotate(0deg);
				opacity: 1;
				transition-duration: 1.2s;
				transition-delay: .45s;
				transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
			}
		}

		&_desc {
			height: 100%;
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;

			&_wrapper {
				position: relative;
				text-align: left;
				opacity: 1;
				transition-delay: 0s;
				font-family: "Nunito", "OpenSans", Helvetica, sans-serif;

				&.-opacity  {
					transition-delay: opacity 0 .6s;
				}

				&_layout {
					text-align: left;
				}

				@include media-query("screen", "onlyDesktop") {
					height: calc(100% - 4.5rem);
					margin-top: 1rem;
				}

				@include media-query("screen", "onLargeTablet") {
					margin-right: 24px;
					margin-left: 24px;
					height: calc(100% - #{$nav-tablet-height});
				}

				@include media-query("screen", "onLargeMobile") {
					margin-right: 24px;
					margin-left: 24px;
					height: calc(100% - #{$nav-mobile-height});
				}
			}

			&_container {
				height: 100%;
				width: 100%;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;
				color: $white;

				> div {
					display: inline-flex;
				}
			}
		}

		&_title {
			font-size: 2.1rem;
			font-weight: 700;
			letter-spacing: .031rem;
			margin: 5px 0;

			span {
				display: block;
				text-align: center;
			}

			@include media-query("screen", "onLargeMobile") {
				font-size: 1.9rem;
			}

			@include media-query("screen", "onLargeMobile") {
				font-size: 1.7rem;
			}
		}

		&_button-wrapper {
			margin: 5px 0;

			@include media-query("screen", "onLargeMobile") {
				display: flex;
				flex-flow: column nowrap;
			}
		}

		&_text {
			display: block;
			margin: 5px 0;

			span {
				display: block;
				text-align: center;
			}
		}
	}

	&_wrapper {
		width: 100%;
		position: relative;
		overflow: hidden;
	}

	.o-container {
		z-index: 2;

		@include media-query("screen", "onlyDesktop") {
			height: calc(100% - 9rem);
			margin-right: 9rem;
			margin-left: 9rem;
		}
	}

	.o-background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-size: cover;
		background-position: 50%;

		&.-overlay::after {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
			background: $soft-violet;
			opacity: .3;
		}
	}

	.o-layout {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;

		&.-full {
			height: 100%;
		}
	}
}