/** ==================================== *
  * Name: Moments
  * URL: -
  * Description: Moments is a html5 template created with html5, css3 and "vanilla js" for Mysch 2.0 cms.
  * Author: Dandi Karunia Pratama <dandi.karunia(at)gmail.com>
  * Author URL: -
  * ==================================== **/
@-webkit-keyframes move-down {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes move-down {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-right {
  0% {
    width: 0;
  }
  100% {
    width: 68%;
  }
}

@keyframes slide-right {
  0% {
    width: 0;
  }
  100% {
    width: 68%;
  }
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  overflow-x: hidden;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "OpenSans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.2;
  background: #fff;
  padding: 0;
  color: #5f6368;
}

body.mobileMenuWasOpened {
  position: fixed;
  overflow: hidden;
  height: auto;
  width: 100%;
  z-index: 0;
}

a {
  text-decoration: none;
  color: #212121;
}

::selection {
  background: #8e2de2;
  color: #fff;
}

input, textarea {
  outline: none;
}

.screen-reader-text, .screen-reader-text {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.l-main-content {
  height: 150vh;
  background: -webkit-gradient(linear, right top, left top, from(#ad5389), to(#3c1053));
  background: linear-gradient(to left, #ad5389, #3c1053);
}

.l-main {
  padding: 0;
  height: 100%;
  width: 100%;
  background: inherit;
}

.l-main__scrolled {
  padding-top: 80px;
}

.l-header {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-animation: none;
          animation: none;
  font-family: "Nunito", "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

@media only screen and (min-width: 1280px) {
  .l-header {
    max-width: 1280px;
  }
}

.l-header--wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  height: 80px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.l-header--wrapper * {
  z-index: inherit;
}

@media only screen and (max-width: 960px) {
  .l-header--wrapper {
    height: 70px;
    color: #3c1053;
  }
}

@media only screen and (max-width: 576px) {
  .l-header--wrapper {
    height: 65px;
  }
}

.l-header--wrapper.sticky {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 2px 7px #212121;
          box-shadow: 0 2px 7px #212121;
  background-color: #fff;
  opacity: 1;
  -webkit-animation: move-down 0.4s forwards;
          animation: move-down 0.4s forwards;
  color: #3c1053 !important;
  height: 70px;
}

@media only screen and (max-width: 960px) {
  .l-header--wrapper.sticky {
    height: 65px;
  }
}

@media only screen and (max-width: 576px) {
  .l-header--wrapper.sticky {
    height: 60px;
  }
}

.l-header--wrapper.sticky .main-nav .nav-menu > li > a.active-link::after {
  background: #673ab7 !important;
}

.l-header--wrapper.sticky .main-nav .nav-menu > li > a:hover::after {
  background: #673ab7 !important;
}

.l-header--wrapper.sticky .main-logo--container {
  padding: 23px 0 !important;
}

@media only screen and (max-width: 960px) {
  .l-header--wrapper.sticky .main-logo--container {
    padding: 21.5px 0 !important;
  }
}

@media only screen and (max-width: 576px) {
  .l-header--wrapper.sticky .main-logo--container {
    padding: 20px 0 !important;
  }
}

.l-header--wrapper.sticky .mobile-search-button, .l-header--wrapper.sticky .search-button {
  -webkit-box-shadow: 0 1px 3px #673ab7;
          box-shadow: 0 1px 3px #673ab7;
}

.l-header--wrapper.sticky .search-form--wrapper {
  top: 70px !important;
}

@media only screen and (max-width: 960px) {
  .l-header--wrapper.sticky .search-form--wrapper {
    top: 65px !important;
  }
}

@media only screen and (max-width: 576px) {
  .l-header--wrapper.sticky .search-form--wrapper {
    top: 60px !important;
  }
}

.l-header--wrapper.sticky .mobile-nav-button::before {
  background-color: #512da8 !important;
}

.l-header--wrapper.sticky .mobile-nav-button::after {
  background-color: #512da8 !important;
}

.l-header .main-logo {
  -webkit-transition: 0s;
  transition: 0s;
  height: 100%;
  padding: 0 45px 0 65px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  position: relative;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 960px) {
  .l-header .main-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 80%;
            flex: 1 0 80%;
    padding: 0 10px 0 20px;
  }
}

@media only screen and (max-width: 576px) {
  .l-header .main-logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 60%;
            flex: 1 0 60%;
  }
}

.l-header .main-logo--container {
  height: 100%;
  display: block;
  padding: 28px 0;
}

@media only screen and (max-width: 576px) {
  .l-header .main-logo--container {
    padding: 22px 0;
  }
}

.l-header .main-logo--image {
  display: block;
  margin: 0 auto;
  height: 100%;
}

.l-header .main-logo--image.normal {
  display: block;
}

.l-header .main-logo--image.sticky {
  display: none;
}

.l-header .main-nav {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  padding: 0 20px 0 30px;
  color: inherit;
}

.l-header .main-nav .blurry-svg {
  display: block;
  height: 0;
}

@media only screen and (max-width: 960px) {
  .l-header .main-nav {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    visibility: hidden;
    position: fixed;
    z-index: -10;
    top: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    width: 100%;
    padding-top: 65px;
    background: #fff;
    opacity: .85;
    height: 95vh;
    -webkit-transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1), visibility 0s cubic-bezier(0.86, 0, 0.07, 1) 0.4s, z-index 0s cubic-bezier(0.86, 0, 0.07, 1) 0.1s;
    transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1), visibility 0s cubic-bezier(0.86, 0, 0.07, 1) 0.4s, z-index 0s cubic-bezier(0.86, 0, 0.07, 1) 0.1s;
  }
  .l-header .main-nav.mobileMenuWasOpened {
    z-index: 80;
    visibility: visible;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition-delay: 0s, 0s, .3s;
            transition-delay: 0s, 0s, .3s;
  }
  .l-header .main-nav::after {
    content: '';
    position: fixed;
    top: 95vh;
    left: 0;
    width: 100%;
    height: 5vh;
    background: #ad5389;
    opacity: .85;
    z-index: 80;
  }
}

@media only screen and (max-width: 576px) {
  .l-header .main-nav {
    padding-top: 60px;
  }
}

.l-header .main-nav .nav-section {
  display: block;
}

.l-header .main-nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media only screen and (max-width: 960px) {
  .l-header .main-nav .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 1.1rem;
    margin: 18px 0 15px;
    max-height: 75vh;
    overflow-y: auto;
  }
}

@media only screen and (max-width: 576px) {
  .l-header .main-nav .nav-menu {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .l-header .main-nav .nav-menu {
    font-size: .97rem;
  }
}

.l-header .main-nav .nav-menu > li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: 80px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 960px) {
  .l-header .main-nav .nav-menu > li {
    height: 60px;
    padding: 10px 0;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.l-header .main-nav .nav-menu > li.dropdown-menu--wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 960px) {
  .l-header .main-nav .nav-menu > li.dropdown-menu--wrapper {
    height: auto;
    padding: 10px 0;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media only screen and (min-width: 1088px) {
  .l-header .main-nav .nav-menu > li.dropdown-menu--wrapper:hover .dropdown-menu, .l-header .main-nav .nav-menu > li.dropdown-menu--wrapper:focus .dropdown-menu, .l-header .main-nav .nav-menu > li.dropdown-menu--wrapper:focus-within .dropdown-menu {
    visibility: visible;
    opacity: 1;
    z-index: 150;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transition-delay: 0s, 0s, .3s;
            transition-delay: 0s, 0s, .3s;
  }
}

.l-header .main-nav .nav-menu > li > a {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  color: inherit;
}

@media only screen and (max-width: 960px) {
  .l-header .main-nav .nav-menu > li > a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: auto;
  }
}

.l-header .main-nav .nav-menu > li > a::after, .l-header .main-nav .nav-menu > li > a:hover::after {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  left: 0;
  bottom: 10px;
  content: '';
  margin-left: 1px;
  height: 2px;
  background: none;
  opacity: .6;
  border-radius: 12px;
  width: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media only screen and (max-width: 960px) {
  .l-header .main-nav .nav-menu > li > a::after, .l-header .main-nav .nav-menu > li > a:hover::after {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    margin-right: 3px;
  }
}

@media only screen and (max-width: 576px) {
  .l-header .main-nav .nav-menu > li > a::after, .l-header .main-nav .nav-menu > li > a:hover::after {
    bottom: 8px;
  }
}

.l-header .main-nav .nav-menu > li > a:hover::after {
  width: 68%;
  background: #fff;
}

@media only screen and (max-width: 960px) {
  .l-header .main-nav .nav-menu > li > a:hover::after {
    width: 30px;
  }
}

.l-header .main-nav .nav-menu > li > a.active-link::after {
  width: 78%;
  background: #fff;
}

@media only screen and (max-width: 960px) {
  .l-header .main-nav .nav-menu > li > a.active-link::after {
    width: 38px;
  }
}

.l-header .main-nav .nav-menu .dropdown-menu {
  position: absolute;
  top: calc(100% - 2px);
  width: 200px;
  background: white;
  border-radius: 2px;
  margin-left: 1px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-shadow: 0 2px 3px #5f6368;
          box-shadow: 0 2px 3px #5f6368;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  visibility: hidden;
  z-index: -10;
  -webkit-transition: all .4s ease-in-out, visibility 0s linear .4s, z-index 0s linear 0.01s;
  transition: all .4s ease-in-out, visibility 0s linear .4s, z-index 0s linear 0.01s;
}

@media only screen and (max-width: 960px) {
  .l-header .main-nav .nav-menu .dropdown-menu {
    position: absolute;
    top: 0px;
  }
}

.l-header .main-nav .nav-menu .dropdown-menu li {
  padding: 0;
  height: 40px;
  line-height: 40px;
  position: relative;
  vertical-align: top;
}

.l-header .main-nav .nav-menu .dropdown-menu li:last-child > a {
  border-bottom: none;
}

.l-header .main-nav .nav-menu .dropdown-menu li.dropdown-submenu--wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-header .main-nav .nav-menu .dropdown-menu li.dropdown-submenu--wrapper:hover .dropdown-submenu, .l-header .main-nav .nav-menu .dropdown-menu li.dropdown-submenu--wrapper:focus .dropdown-submenu, .l-header .main-nav .nav-menu .dropdown-menu li.dropdown-submenu--wrapper:focus-within .dropdown-menu {
  visibility: visible;
  opacity: 1;
  z-index: 160;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0s, 0s, .3s;
          transition-delay: 0s, 0s, .3s;
}

.l-header .main-nav .nav-menu .dropdown-menu li.dropdown-submenu--wrapper > a::after {
  position: absolute;
  right: 24px;
  top: 15px;
  content: '';
  background-image: url("../images/next.png");
  background-size: 100% 100%;
  width: 10px;
  height: 10px;
}

.l-header .main-nav .nav-menu .dropdown-menu li a {
  color: #3c1053;
  display: block;
  margin: 0 25px 0 18px;
  font-size: .9rem;
  height: 100%;
  border-bottom: 1px solid #673ab7;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.l-header .main-nav .nav-menu .dropdown-menu li a:hover {
  padding-left: 5px;
  color: #ad5389;
}

.l-header .main-nav .nav-menu .dropdown-menu .dropdown-submenu {
  position: absolute;
  top: 0;
  left: 98%;
  width: 200px;
  background: white;
  border-radius: 2px;
  margin-left: 1px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-shadow: 0 2px 3px #5f6368;
          box-shadow: 0 2px 3px #5f6368;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  visibility: hidden;
  z-index: -10;
  -webkit-transition: all .4s ease-in-out, visibility 0s linear .4s, z-index 0s linear 0.01s;
  transition: all .4s ease-in-out, visibility 0s linear .4s, z-index 0s linear 0.01s;
}

.l-header .mobile-actions {
  margin-left: auto;
  height: 100%;
  padding: 0 20px 0 0;
  display: none;
}

.l-header .mobile-actions .mobile-search-button {
  position: relative;
  border-radius: 1142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 28px;
  width: 47px;
  background: #fff;
  border-radius: 1142px;
  cursor: pointer;
}

.l-header .mobile-actions .mobile-search-button .mobile-search-icon {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 auto;
}

.l-header .mobile-actions .mobile-nav-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3px;
  cursor: pointer;
}

.l-header .mobile-actions .mobile-nav-button.active::before {
  -webkit-transform: rotate(45deg) translateY(5px);
          transform: rotate(45deg) translateY(5px);
}

.l-header .mobile-actions .mobile-nav-button.active::after {
  -webkit-transform: rotate(-45deg) translateY(-5px);
          transform: rotate(-45deg) translateY(-5px);
}

.l-header .mobile-actions .mobile-nav-button::before {
  display: block;
  content: '';
  background-color: #fff;
  height: 2px;
  border-radius: 10px;
  -webkit-transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.l-header .mobile-actions .mobile-nav-button::after {
  display: block;
  content: '';
  margin-top: 5px;
  background-color: #fff;
  height: 2px;
  border-radius: 10px;
  -webkit-transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

@media only screen and (max-width: 960px) {
  .l-header .mobile-actions {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  .l-header .mobile-actions .mobile-nav-button.active::after {
    width: 37px;
  }
  .l-header .mobile-actions .mobile-nav-button::before {
    width: 37px;
  }
  .l-header .mobile-actions .mobile-nav-button::after {
    width: 27px;
  }
}

@media only screen and (max-width: 576px) {
  .l-header .mobile-actions {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
  }
  .l-header .mobile-actions .mobile-nav-button.active::after {
    width: 30px;
  }
  .l-header .mobile-actions .mobile-nav-button::before {
    width: 30px;
  }
  .l-header .mobile-actions .mobile-nav-button::after {
    width: 20px;
  }
}

@media only screen and (max-width: 360px) {
  .l-header .mobile-actions .mobile-search-button {
    height: 23px;
    width: 38px;
  }
  .l-header .mobile-actions .mobile-search-button .mobile-search-icon {
    height: 12px;
    width: 12px;
  }
  .l-header .mobile-actions .mobile-nav-button.active::after {
    width: 25px;
  }
  .l-header .mobile-actions .mobile-nav-button::before {
    width: 25px;
  }
  .l-header .mobile-actions .mobile-nav-button::after {
    width: 15px;
  }
}

.l-header .search-area {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
  padding-right: 65px;
}

@media only screen and (max-width: 960px) {
  .l-header .search-area {
    visibility: hidden;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0px;
            flex: 0 0 0;
    padding: 0;
  }
}

.l-header .search-area--container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 32px;
  width: 100%;
}

@media only screen and (max-width: 960px) {
  .l-header .search-area--container {
    visibility: hidden;
    width: 0;
  }
}

.l-header .search-area .search-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 58px;
  height: 100%;
  background-color: #fff;
  border-radius: 11124px;
  cursor: pointer;
  -webkit-transition: width 0.1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: width 0.1s cubic-bezier(0.86, 0, 0.07, 1);
}

.l-header .search-area .search-button:hover {
  width: 63px;
}

.l-header .search-area .search-button .search-icon {
  width: 16px;
  height: 16px;
  display: block;
  margin: 0 auto;
}

.l-header .search-area .search-form {
  width: 100%;
  height: 100%;
  padding: 10px 65px;
  z-index: 120;
}

@media only screen and (min-width: 1280px) {
  .l-header .search-area .search-form {
    max-width: 1280px;
  }
}

@media only screen and (max-width: 960px) {
  .l-header .search-area .search-form {
    padding: 10px 20px;
  }
}

.l-header .search-area .search-form--wrapper {
  width: 100%;
  top: 80px;
  right: -100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  height: 63px;
  opacity: .91;
  visibility: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1), visibility 0s cubic-bezier(0.86, 0, 0.07, 1) 0.4s;
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1), visibility 0s cubic-bezier(0.86, 0, 0.07, 1) 0.4s;
}

@media only screen and (max-width: 576px) {
  .l-header .search-area .search-form--wrapper {
    top: 65px;
  }
}

.l-header .search-area .search-form--wrapper.active {
  right: 0;
  visibility: visible;
  -webkit-transition-delay: 0s, .2s;
          transition-delay: 0s, .2s;
}

.l-header .search-area .search-form--input {
  width: 100%;
  height: 100%;
  border-radius: 1124px;
  background-color: #5f6368;
  padding: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-header .search-area .search-form--input:focus, .l-header .search-area .search-form--input:focus-within {
  background: -webkit-gradient(linear, left top, right top, from(#ad5389), to(#4a00e0));
  background: linear-gradient(to right, #ad5389, #4a00e0);
}

.l-header .search-area .search-form input[type="search"] {
  border: 0;
  background: #fff;
  opacity: 1;
  min-width: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #3c1053;
  border-radius: 1124px;
  padding: .75rem 2.5rem .75rem 1.5rem;
  font-size: 1rem;
}
