/** ==================================== *
  * Name: Moments
  * URL: -
  * Description: Moments is a html5 template created with html5, css3 and "vanilla js" for Mysch 2.0 cms.
  * Author: Dandi Karunia Pratama <dandi.karunia(at)gmail.com>
  * Author URL: -
  * ==================================== **/
@-webkit-keyframes move-down {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes move-down {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-right {
  0% {
    width: 0;
  }
  100% {
    width: 68%;
  }
}

@keyframes slide-right {
  0% {
    width: 0;
  }
  100% {
    width: 68%;
  }
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  overflow-x: hidden;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "OpenSans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 1.2;
  background: #fff;
  padding: 0;
  color: #5f6368;
}

a {
  text-decoration: none;
  color: #212121;
}

::selection {
  background: #8e2de2;
  color: #fff;
}

.screen-reader-text, .screen-reader-text {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.l-main-content {
  height: 150vh;
  background: -webkit-gradient(linear, right top, left top, from(#ad5389), to(#3c1053));
  background: linear-gradient(to left, #ad5389, #3c1053);
}

.l-main {
  padding: 0;
  height: 100%;
  width: 100%;
  background: inherit;
}

.l-main__scrolled {
  padding-top: 80px;
}

.l-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: transparent;
  color: #fff;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-animation: none;
          animation: none;
  font-family: "Nunito", "OpenSans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

@media only screen and (max-width: 769px) {
  .l-header {
    height: 70px;
  }
}

@media only screen and (max-width: 576px) {
  .l-header {
    height: 65px;
  }
}

.l-header__sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 0 4px 3px #202124;
          box-shadow: 0 4px 3px #202124;
  background-color: #fff;
  color: #673ab7;
  -webkit-animation: move-down 0.2s forwards;
          animation: move-down 0.2s forwards;
}

.l-header .main-logo {
  -webkit-transition: 0s;
  transition: 0s;
  height: 100%;
  padding: 0 45px 0 65px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  position: relative;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l-header .main-logo--container {
  height: 100%;
  display: block;
  padding: 28px 0;
}

.l-header .main-logo--image {
  display: block;
  margin: 0 auto;
  height: 100%;
}

.l-header .main-logo--image__normal {
  display: block;
}

.l-header .main-logo--image__sticky {
  display: none;
}

.l-header .main-logo--image__mobile {
  display: none;
}

.l-header .main-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 20px 0 30px;
  color: inherit;
}

.l-header .main-nav .nav-section {
  display: block;
}

.l-header .main-nav .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.l-header .main-nav .nav-menu > li {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  height: 80px;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.l-header .main-nav .nav-menu > li.dropdown-menu--wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-header .main-nav .nav-menu > li.dropdown-menu--wrapper:hover .dropdown-menu, .l-header .main-nav .nav-menu > li.dropdown-menu--wrapper:focus .dropdown-menu, .l-header .main-nav .nav-menu > li.dropdown-menu--wrapper:focus-within .dropdown-menu {
  visibility: visible;
  opacity: 1;
  z-index: 150;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0s, 0s, .3s;
          transition-delay: 0s, 0s, .3s;
}

.l-header .main-nav .nav-menu > li > a {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: #fff;
}

.l-header .main-nav .nav-menu > li > a.active-link:after {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  left: 0;
  bottom: 10px;
  content: '';
  margin-left: 1px;
  height: 2px;
  background: white;
  opacity: .5;
  border-radius: 12px;
  width: 78%;
}

.l-header .main-nav .nav-menu > li > a:hover:after {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: absolute;
  left: 0;
  bottom: 10px;
  content: '';
  margin-left: 1px;
  height: 2px;
  background: white;
  opacity: .5;
  border-radius: 12px;
  -webkit-animation: slide-right .4s forwards;
          animation: slide-right .4s forwards;
}

.l-header .main-nav .nav-menu .dropdown-menu {
  position: absolute;
  top: 80px;
  width: 200px;
  background: white;
  border-radius: 2px;
  margin-left: 1px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-shadow: 0 2px 3px #5f6368;
          box-shadow: 0 2px 3px #5f6368;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  visibility: hidden;
  z-index: -10;
  -webkit-transition: all .4s ease-in-out, visibility 0s linear .4s, z-index 0s linear 0.01s;
  transition: all .4s ease-in-out, visibility 0s linear .4s, z-index 0s linear 0.01s;
}

.l-header .main-nav .nav-menu .dropdown-menu li {
  padding: 0;
  height: 40px;
  line-height: 40px;
  position: relative;
  vertical-align: top;
}

.l-header .main-nav .nav-menu .dropdown-menu li:last-child > a {
  border-bottom: none;
}

.l-header .main-nav .nav-menu .dropdown-menu li.dropdown-submenu--wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l-header .main-nav .nav-menu .dropdown-menu li.dropdown-submenu--wrapper:hover .dropdown-submenu, .l-header .main-nav .nav-menu .dropdown-menu li.dropdown-submenu--wrapper:focus .dropdown-submenu, .l-header .main-nav .nav-menu .dropdown-menu li.dropdown-submenu--wrapper:focus-within .dropdown-menu {
  visibility: visible;
  opacity: 1;
  z-index: 160;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition-delay: 0s, 0s, .3s;
          transition-delay: 0s, 0s, .3s;
}

.l-header .main-nav .nav-menu .dropdown-menu li a {
  color: #3c1053;
  display: block;
  margin: 0 25px 0 18px;
  height: 100%;
  border-bottom: 1px solid #673ab7;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.l-header .main-nav .nav-menu .dropdown-menu li a:hover {
  padding-left: 5px;
  color: #ad5389;
}

.l-header .main-nav .nav-menu .dropdown-menu .dropdown-submenu {
  position: absolute;
  top: 0;
  left: 98%;
  width: 200px;
  background: white;
  border-radius: 2px;
  margin-left: 1px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-shadow: 0 2px 3px #5f6368;
          box-shadow: 0 2px 3px #5f6368;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  visibility: hidden;
  z-index: -10;
  -webkit-transition: all .4s ease-in-out, visibility 0s linear .4s, z-index 0s linear 0.01s;
  transition: all .4s ease-in-out, visibility 0s linear .4s, z-index 0s linear 0.01s;
}

.l-header .mobile-actions {
  display: none;
  margin-left: auto;
}

.l-header .search-area {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
  padding-right: 65px;
}

.l-header .search-area--container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 72px;
  border-radius: 11124px;
}

.l-header .search-area .search-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 68px;
  height: 32px;
  background-color: #fff;
  border-radius: 11124px;
  cursor: pointer;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.l-header .search-area .search-button:hover {
  width: 70px;
}

.l-header .search-area .search-button .search-icon {
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 auto;
}

.l-header .search-area .search-form {
  display: none;
}
