$white: #fff !default;
$grey-100: #f9f7f7;
$grey-200: #e3e3e3;
$grey-300: #dfdfdf;
$grey-400: #b8b0b0;
$black: #212121 !default;

$greys:  () !default;

$greys: map-merge(("100": $grey-100, "200": $grey-200, "300": $grey-300, "400": $grey-400), $greys);

$violet-100: #742dd2;
$violet-200: #481380;
$purple-100: #c246c6;
$purple-200: #91157e;
$purple-300: #65195e;
$blue: #7971ea;
$blue-100: #3f72af; // 1
$blue-200: #3e4e88;
$blue-300: #1a2c5b;
$blue-400: #112d4e; // 1

$colors: () !default;

$colors: map-merge((), $colors);

$primary: #aaa;
$secondary: #6610f2;
$success: #aaa;
$info: #aaa;
$warning: #ddd;
$danger: #ddd;
$light: #ddd;
$dark: #ddd;

